GMAIL_USER=normandruiz@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
EMAIL_RECIPIENTS=normandruiz@gmail.com
CHROME_PROFILE_DIR=C:\Users\Usuario\AppData\Local\Google\Chrome\User Data
CHROME_PROFILE_NAME=Trabajo
